In [18]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/tsaiyichen/Library/Python/3.9/lib/python/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/tsaiyichen/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/tsaiyichen/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/tsaiyichen/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/tsaiyichen/Library/Python/3.9/lib/python/site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

In [5]:
import numpy as np
import pandas as pd

# PLA algo

In [59]:
def load_data(filename):
    '''
    read data from file
    The original dataset given by Coursera courses: https://www.csie.ntu.edu.tw/~htlin/mooc/datasets/mlfound_math/hw1_15_train.dat
    You should turn the dataset to .dat file first.
    '''
    data = pd.read_csv(filename, sep = '\s+', header = None)
    row, col = data.shape[0],data.shape[1]
    X = np.c_[np.ones((row, 1)), data.iloc[:, 0:col-1]]
    y = data.iloc[:, col-1:col].values
    return X,y

In [25]:
X, y = load_data('HW1/hw1_dataset.dat')

         0         1         2        3  4
0  0.97681  0.107230  0.643850  0.29556  1
1  0.67194  0.241800  0.830750  0.42741  1
2  0.20619  0.233210  0.810040  0.98691  1
3  0.51583  0.055814  0.922740  0.75797  1
4  0.70893  0.108360  0.339510  0.77058  1
5  0.55743  0.678040  0.061044  0.72689  1
6  0.15654  0.755840  0.011220  0.42598 -1
7  0.50462  0.151370  0.338780  0.41881  1
8  0.22657  0.592720  0.241030  0.46221 -1
9  0.49174  0.651150  0.246220  0.24796 -1
[[1.       0.97681  0.10723  0.64385  0.29556 ]
 [1.       0.67194  0.2418   0.83075  0.42741 ]
 [1.       0.20619  0.23321  0.81004  0.98691 ]
 ...
 [1.       0.93895  0.93941  0.72496  0.95655 ]
 [1.       0.046136 0.94413  0.038311 0.26812 ]
 [1.       0.072491 0.2242   0.62592  0.67238 ]]

In [53]:
def PLA(X, y, theta, eta=1):
    '''
    '''
    num = 0
    prevpos = 0
    while True:
        y_hat = np.sign(X.dot(theta))
        y_hat[np.where(y_hat==0)] = -1
        index = np.where(y_hat != y)[0]
        if not index.any():
            break
        if not index[index >= prevpos].any():
            prevpos = 0
        
        pos = index[index >= prevpos][0]
        prevpos = pos
        theta += eta * y[pos, 0] * X[pos:pos+1, :].T
        num += 1
    return theta,num

## Q15

In [54]:
row, col = X.shape[0], X.shape[1]
theta = np.zeros((col,1))
theta, num = PLA(X,y,theta)
print('The num of times: ', num)

The num of times:  39

## Q16

In [60]:
total = 0
for i in range(2000):
    theta = np.zeros((col,1))
    randpos = np.random.permutation(row)
    X_new = X[randpos, :]
    y_new = y[randpos, 0:1]
    # print(X_new)
    # print(y_new)
    _, num = PLA(X_new, y_new, theta)
    total+=num
print('The average num of times: ', total/2000)

The average num of times:  40.1405

## Q17

In [61]:
total = 0
for i in range(2000):
    theta = np.zeros((col,1))
    randpos = np.random.permutation(row)
    X_new = X[randpos, :]
    y_new = y[randpos, 0:1]
    # print(X_new)
    # print(y_new)
    _, num = PLA(X_new, y_new, theta = 0.5)
    total+=num
print('The average num of times: ', total/2000)

The average num of times:  37.978